# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pyc
*.npy
*.mat
*.spyderproject
*.dat
*.csv
log/runTime.xlsx
*.xlsx
*.meta
*.pkz
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/data_batch_6
*.html
data/20newsgroup_vectorizedremove-headers-footers-quotes.pk
*.spyderproject
